@font-face {
    font-family: 'Satoshi';
    src: url('./Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2') format('woff2');
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff2') format('woff2');
    font-weight: 500;
    /* Medium */
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Satoshi', Helvetica, sans-serif;
}

.head header {
    background: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.head header img {
    height: 90%;
    width: auto;
}


.head nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.head .nav-links {
    list-style: none;
    /*gets rid of the list dots*/
    display: flex;
    gap: 15px;
}

.head .nav-links a {
    color: #df0a0a;
    text-decoration: none;
}

.search input {
    border-radius: 8px;
    padding-inline: 5px;
}

.landing {
    position: relative;
    max-height: 700px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.landing img {
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
    display: block;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0, 1) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 1) 100%);

}

.landing-content {
    position: absolute;
    top: 50%;
    left: 60px;
    /* Add padding on the left */
    transform: translateY(-50%);
    /* Only vertical centering */
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 0.8rem;

}

.landing-text {
    max-width: 400px;
}

.landing-text h1 {
    font-size: 40px;
}

.landing-text p {
    margin-top: 15px;
    font-size: 15px;
    color: rgb(117, 115, 115);
}


.landing .landing-content .landing-text .shop-now {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #000000;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.landing .landing-content .landing-text .shop-now:hover {
    background-color: #c20505;

}

.landing .landing-content .landing-text .shop-now:active {
    background-color: #400000;
}


.click-categories ul {
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;

    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.click-categories ul li {
    margin: 20px 20px;
    color: #fff;
}

.categorie-item:hover {
    transition: all 0.3s ease;
    font-size: 17px;
}


.student-favorites {
    margin-top: 30px;
    width: 100%;
    padding: 60px;
    box-sizing: border-box;

}


.latest-exams {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}


.cards-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-header h1 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 20px;
    color: #333;

}

.shop-now {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
    padding: 8px 25px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    /* Add this */
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.shop-now:hover {
    background-color: #c20505;
    border: 2px solid #c20505;
    color: white;
    transform: translateY(-1px);
}


.card {
    flex: 1 1 calc(25% - 20px);
    background: none;
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
    font-family: 'Satoshi', sans-serif;
}

/* Image container */
.card img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    opacity: 0.9;
    filter: brightness(60%);
}

.card h3 {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    margin: 12px 0 4px;
    color: #111;
}

/* Target the second h3 (price) */
.card h3.price {
    float: right;
    font-weight: 500;
    font-size: 0.95rem;
    color: #2b2b2b;
}

.card p {
    margin: 0;
    font-size: 0.85rem;
    font-weight: 400;
    color: #555;
}

.image-placeholder {
    width: 100%;
    aspect-ratio: 3 / 4;
    /* Match your image aspect ratio */
    object-fit: cover;
    object-position: center;
    display: block;
    background-color: #ccc;
    border-radius: 8px;
}


.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch;
}


.card:hover img {
    transform: scale(1.03);
    z-index: 1;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    filter: brightness(80%)
}

/**
.card-grid:hover .card:not(:hover) {
    transform: scale(0.95);
    filter: brightness(0.6) saturate(0.5) blur(2px);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card-grid:hover .card:not(:hover) p {
    filter: brightness(0.7) blur(2px);
}
**/

.categories {
    max-width: 1200px;
    margin: 60px auto;
    padding: 40px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border-radius: 20px;
    text-align: center;
}

.categories .card {
    position: relative;
    flex: 1 1 calc(25% - 20px);
    aspect-ratio: 4 / 3;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
}


.categories .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    opacity: 0.80;
    filter: brightness(60%)
}


.categories .card h3 {
    position: absolute;
    top: 50%;
    /* Adjust as needed */
    left: 10px;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    background: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);

}

.categories .card p {
    position: absolute;
    top: calc(50% + 15px);
    /* Place below h3 (adjust 24px as needed) */
    left: 10px;
    margin: 0;
    color: white;
    font-size: 13px;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


.categories .card {
    position: relative;
    flex: 1 1 calc(50% - 20px);
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
    will-change: transform;
    aspect-ratio: 1.25;

}

.categories .image-placeholder {
    width: 100%;
    height: 100%;
    background-color: #ccc;
}


.categories .card:hover h3::after,
.categories .card h3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #c20505;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.categories .card:hover h3::before {
    top: -5px;
    transform-origin: left;
}

.categories .card:hover h3::after,
.categories .card:hover h3::before {
    transform: scaleX(1);
}

  
@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
}


.footer-5-column {
  border-top: 1px solid rgb(219, 215, 215);
    padding-top: 3rem;
    margin-top: 3rem;
    width: 100%;
  }
  .footer-5-column p {
    color: #777777;
  }
  .footer-5-column .footer-container {
    width: 100%;
    margin-right: auto;
    margin-left: 30px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
  }
  .footer-5-column .footer-container .footer-navbar-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
  }
  
  .footer-5-column
    .footer-container
    .footer-navbar-container
    .footer-company-details {
    width: 35%;
    max-width: 100%;
    flex: 0 0 auto;
    padding-right: 2rem;
    line-height: 1.428;
  }
  .footer-5-column
    .footer-container
    .footer-navbar-container
    .footer-company-details
    .footer-logo {
    width: 60px;
  }
  .footer-5-column
    .footer-container
    .footer-navbar-container
    .footer-company-details
    .footer-logo
    img {
    max-width: 100%;
    height: auto;
  }
  .footer-5-column
    .footer-container
    .footer-navbar-container
    .footer-company-details
    .footer-logo
    svg {
    width: 100%;
    height: auto;
  }
  .footer-5-column
    .footer-container
    .footer-navbar-container
    .footer-company-details
    .footer-content {
    margin-top: 1rem;
    font-size: 16px;
    line-height: 1.8;
    padding-right: 1rem;
  }
  .footer-5-column
    .footer-container
    .footer-navbar-container
    .footer-company-details
    .footer-icons {
    margin-top: 1.5rem;
  }
  .footer-5-column
    .footer-container
    .footer-navbar-container
    .footer-company-details
    .footer-icons
    ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .footer-5-column
    .footer-container
    .footer-navbar-container
    .footer-company-details
    .footer-icons
    ul
    li {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 14px;
  }
  .footer-5-column
    .footer-container
    .footer-navbar-container
    .footer-company-details
    .footer-icons
    ul
    li
    a {
    width: 30px;
    padding: 6px;
  }
  .footer-5-column .footer-navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
    line-height: 1.428;
  }
  
  .footer-5-column .footer-navbar > .footer-navbar-col {
    width: 25%;
    flex: 0 0 auto;
  }
  .footer-5-column .footer-navbar .footer-navbar-col h5 {
    margin-bottom: 1.5rem;
    color: #000;
    overflow-wrap: break-word;
    padding: 0 0.5rem 0 0;
  }
  .footer-5-column .footer-navbar .footer-navbar-col ul {
    padding: 0 0.5rem 0 0;
    margin: 0;
  }
  .footer-5-column .footer-navbar .footer-navbar-col ul li {
    list-style: none;
  }
  .footer-5-column .footer-navbar .footer-navbar-col ul li:not(:last-child) {
    margin-bottom: 1rem;
  }
  .footer-5-column .footer-navbar .footer-navbar-col ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #777777;
    overflow-wrap: break-word;
  }
  .footer-5-column .footer-navbar .footer-navbar-col ul li a:hover {
    color: #000;
  }
  
  .footer-5-column .footer-copyright {
    padding: 2rem 0;
    border-top: 1px solid rgb(219, 215, 215);
  }
  .footer-5-column .footer-copyright p {
    font-size: 14px;
    margin-bottom: 0;
  }
  
  @media all and (max-width: 1140px) {
    .footer-5-column .footer-container .footer-navbar-container,
    .footer-5-column .footer-navbar {
      row-gap: 3rem;
    }
    .footer-5-column
      .footer-container
      .footer-navbar-container
      .footer-company-details,
    .footer-5-column .footer-container .footer-navbar-container .footer-navbar {
      padding: 0;
      width: 100%;
    }
  }
  @media all and (max-width: 992px) {
    .footer-5-column .footer-navbar .footer-navbar-col {
      width: 50%;
    }
  }

  